{{#partial "content"}}
    <img src="{{book.imageURL}}" width="300px">
    <h5>Title:</h5>
    <p>{{ book.title }}</p>
    <h5>Author:</h5>
    <p> {{ book.author }}</p>
    <h5>Year Published:</h5>
    <p> {{ book.year }}</p>
{{/partial}}

{{> layout.hbs}}